<h1>New Camper</h1>

<% if flash[:messages] %>
    <ol>
        <%= flash[:messages].each do |message| %>
        <li style="color:red"><%= message %></li>
        <% end %>
    </ol>
<% end %>

<%= form_for @camper do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :age %>
    <%= f.number_field :age %>
    <br>
 <%= f.submit %>
<%end%>
